<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="goToLogin()">
        Back
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<figure class="size-logo">
  <img src="./assets/img/Logo.png" />
</figure>
<form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)">
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input placeholder="Enter text" formControlName="name"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Apellido</ion-label>
    <ion-input placeholder="Enter text" formControlName="last_name"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-select placeholder="Tipo de Documento" formControlName="document_type">
        <ion-select-option value="CC">Cédula de ciudadanía</ion-select-option>
        <ion-select-option value="CE">Cédula Extranjera</ion-select-option>
        <ion-select-option value="TT">Tarjeta de Identidad</ion-select-option>
        <ion-select-option value="PAP">Pasaporte</ion-select-option>
        <ion-select-option value="OT">Otro</ion-select-option>
    </ion-select>
</ion-item>
  
  <ion-item>
    <ion-label position="floating">Numero documento</ion-label>
    <ion-input placeholder="Enter text" formControlName="document_number"> </ion-input>
  </ion-item>
  
  <ion-list>
    <ion-item>
      <ion-select interface="popover" placeholder="Carrera" formControlName="career">
        <ion-select-option value="IS">Ingenieria de Sistemas</ion-select-option>
        <ion-select-option value="iG">Ingenieria Industrial</ion-select-option>
        <ion-select-option value="M">Medicina</ion-select-option>
        <ion-select-option value="P">Psicología</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input placeholder="Enter text" formControlName="email"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input placeholder="Enter text" formControlName="password"></ion-input>
  </ion-item>

  <ion-button 
shape="round"
color="warning"
type="submit">
  Registrarse
</ion-button>

<ion-button (click)="goToLogin()"
shape="round"
color="warning"
type="submit">
  Volver 
</ion-button>

</form>


</ion-content>
