<ion-header>
  <ion-toolbar>
    <ion-buttons></ion-buttons>
    <ion-title class="color_titulo">Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
<figure class="size-logo">
  <img src="./assets/img/Logo.png" />
</figure>
<form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)">
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input placeholder="Enter text" formControlName="name"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Apellido</ion-label>
    <ion-input placeholder="Enter text" formControlName="last_name"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-select placeholder="Tipo de Documento" formControlName="document_type">
        <ion-select-option value="cc">cc</ion-select-option>
        <ion-select-option value="ce">ce</ion-select-option>
        <ion-select-option value="ti">ti</ion-select-option>
        <ion-select-option value="ps">ps</ion-select-option>
    </ion-select>
</ion-item>
  
  <ion-item>
    <ion-label position="floating">Numero documento</ion-label>
    <ion-input placeholder="Enter text" formControlName="document_number"> </ion-input>
  </ion-item>
  
  <ion-list>
    <ion-item>
      <ion-select interface="popover" placeholder="Carrera" formControlName="career">
        <ion-select-option value="sistemas"> sistemas</ion-select-option>
        <ion-select-option value="industrial"> industrial</ion-select-option>
        <ion-select-option value="contaduría">contaduría</ion-select-option>
        <ion-select-option value="administración">administración</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input placeholder="Enter text" formControlName="email"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input placeholder="Enter text" formControlName="password"></ion-input>
  </ion-item>

<ion-button 
shape="round"
color="warning"
type="submit">
  Registrarse
</ion-button>

<ion-button (click)="goToLogin()"
shape="round"
color="warning"
type="submit">
  Volver 
</ion-button>
</form>
</ion-content>
